@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url("./assets/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.padding {
  padding-top: 1.2rem;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.borderBottom {
  border-bottom: 0.4px solid white;
}

.textHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  /* or 135% */

  letter-spacing: -1px;
  text-transform: capitalize;

  color: #ffffff;
}

.bug {
  border: 2px red solid;
}

.txt {
  height: 13.2rem;
  width: 39rem;
  margin-bottom: 3rem;
}

.dropdown {
  height: 88px;
  width: 408px;
  padding: 1rem;
  margin-left: 23px;
  background-color: white;
}

.firstDropdown {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  height: 3.635rem;
  height: 58px;
  width: 8rem;
}

.SecondDropdown {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  height: 3.635rem;
  height: 58px;
  width: 11.3rem;
}
.search {
  background: #23a6f0;
  border: 1px solid #e6e6e6;
  height: 3.635rem;
  width: 59px;
}

/* second section */

.secondSectionh1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.iconText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.iconImg {
  height: 4.8rem;
  width: 4.8rem;
  background: #ffffff;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
/* third section */
.headerSection3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;

  color: #18191f;
}

.btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
  background: #f4511e;
  box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}

.bg3 {
  background-color: #f5f5f5;
}

.headerborder::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: #f4511e solid 4px;
  width: 40%;
}

.thirdHeader {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: -0.642075px;
  text-transform: capitalize;

  color: #000000;
}

.privText {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.642075px;
  text-transform: capitalize;

  color: #818181;
}

.cost {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25.552px;
  line-height: 33px;
  letter-spacing: -0.642075px;
  text-transform: capitalize;

  color: #f4511e;
}

.spanBorder {
  border-top: solid 0.5px rgb(54, 53, 53);
  border-bottom: none;
  /* border: solid 0.5px rgb(54, 53, 53); */
  height: 50px;
  /* margin-top: 60px; */
}
.middleBorder {
  border-top: solid 0.5px rgb(54, 53, 53);
  border-right: solid 0.5px rgb(54, 53, 53);
  border-left: solid 0.5px rgb(54, 53, 53);
  border-bottom: none;
}

.borderr {
  border: solid 0.5px rgb(175, 174, 174);
}

.carddiv {
  width: 358px;
  height: 525px;
  top: 1px;

  background: #ffffff;
  box-shadow: 0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);
  border-bottom-left-radius: 26.6166px;
  border-bottom-right-radius: 26.6166px;
}

.imgdiv {
  width: 357.73px;
  height: 283.2px;
}

.pagination {
  width: 324px;
  height: 74px;
  /* border: 1.34552px solid #bdbdbd; */
}
.paginationBorder {
  border: 1.34552px solid #bdbdbd;
}

/* Fourth section */
.firstImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 334px;
  background-image: url("./assets/image-1.png");
  background-position: center;
  background-size: cover;
}

.secondImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 270px;
  background-image: url("./assets/Image-2.png");
  background-position: center;
  background-size: cover;
}

.thirdImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 212px;
  height: 285px;
  background-image: url("./assets/image-3.png");
  background-position: center;
  background-size: cover;
}

.fourtImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 356px;
  background-image: url("./assets/image-4.png");
  background-position: center;
  background-size: cover;
}
