@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: url("./assets/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.padding {
  padding-top: 1.2rem;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.borderBottom {
  border-bottom: 0.4px solid white;
}

.textHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  /* or 135% */

  letter-spacing: -1px;
  text-transform: capitalize;

  color: #ffffff;
}

.bug {
  border: 2px red solid;
}

.txt {
  height: 13.2rem;
  width: 39rem;
  margin-bottom: 3rem;
}

.dropdown {
  height: 88px;
  width: 408px;
  padding: 1rem;
  margin-left: 23px;
  background-color: white;
}

.firstDropdown {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  height: 3.635rem;
  height: 58px;
  width: 8rem;
}

.SecondDropdown {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  height: 3.635rem;
  height: 58px;
  width: 11.3rem;
}
.search {
  background: #23a6f0;
  border: 1px solid #e6e6e6;
  height: 3.635rem;
  width: 59px;
}

/* second section */

.secondSectionh1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.iconText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.iconImg {
  height: 4.8rem;
  width: 4.8rem;
  background: #ffffff;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
